name: Hola Mundo Workflow

on:
    push:
        branches: ["main"]
        paths:
            - "**/*.py"
    pull_request:
        branches: ["main"]
        paths:
            - "**/*.py"
    issue_comment:
        types: [created]
    # [push, workflow_dispatch]

jobs:
    print-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Run script
              run: python main.py
